

h1{
    text-align: center;
}


td{
    justify-content: center;
    padding-inline: 50px;
    padding-block: 30px;
}

button{
    padding: 2px;
}

.labs{
    display: inline-block;
    width: 130px;
}
input{
    width: 250px;
}

.database-btn1{
    background-color: rgb(64, 171, 64);
    color: white;
    margin: 3px;
    padding: 7px;
}
.database-btn2{
    background-color: rgb(191, 66, 66);
    color: white;
    margin: 3px;
    padding: 7px;
}

.database-btn1:hover{
    background-color: black;
}
.database-btn2:hover{
    background-color: black;
}

.datatable{
    width: 100%;
    margin: 50px auto;
    padding: 20px;
}

@media screen and (max-width: 499px) {
    .datatable{
        margin: 50px auto;
        padding: 20px;
    }
  }


 
  
  