
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  a{
    color: white;
  }
  body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: linear-gradient(135deg, #353534, #000000);
    color: #ffffff;
  }
  
  .container {
    max-width: fit-content;
    margin: 50px auto;
    padding: 20px;
    background: linear-gradient(135deg, #d4a236, #b12d2d);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  h1 {
    text-align: center;
    text-shadow: 0 0 4px #000000;
    margin-bottom: 15px;
    color: #ffffff;
  }
  
  form {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  label {
    margin-top: 10px;
    font-weight: bold;
    color: black;
    
  }
  
  input {
    width: 400px;
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #555555;
    border-radius: 5px;
    font-size: 16px;
    background-color: black;
    color: #ffffff;
    transition: border-color 0.3s ease;
  }
  
  input[type="file"] {
    padding: 10px;
    font-size: 14px;
  }
  
  input:focus {
    outline: none;
    border-color: #7aa4f0;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }


  
  
  