
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  a{
    color: cyan;
    font-weight: 500;
    display: flex;
    justify-content: center;
  }
  body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: linear-gradient(135deg, #353534, #000000);
    color: #ffffff;
  }
  
  .container {
    width: 30%;
    margin: 50px auto;
    padding: 20px;
    background: linear-gradient(135deg, #d46836, #732cc9);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  h1 {
    text-align: center;
    text-shadow: 0 0 4px #000000;
    margin-bottom: 15px;
    color: #ffffff;
  }
  
  form {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  label {
    margin-top: 10px;
    font-weight: bold;
    color: black;
    
  }
  
  input {
    margin-bottom: 15px;
    padding: 12px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    background: #4d1023;
    color: #ffffff;
    transition: border-color 0.3s ease;
  }
  
  input[type="file"] {
    padding: 10px;
    font-size: 14px;
  }
  
  input:focus {
    outline: none;
    border-color: #7aa4f0;
  }
  
  input[type="submit"] {
    background: #4CAF50;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background: #45a049;
  }

  @media screen and (max-width: 650px) {
    .container{
      width: 80%;
      padding: 16px;
    }
  }
  


  
  
  